# Enter the AWS Keys without the < or >
# You can either use the AWS Accounts access keys and they can be found at 
# http://aws.amazon.com under Account->Security Credentials
# or you can use the access keys of a user created with IAM
AWSAccessKeyId=<Write your AWS access ID>
AWSSecretKey=<Write your AWS secret key>

